* {
	margin: 0;
	padding: 0;
	border: 0;
}
/*font-family: 'Chewy', cursive;
font-family: 'Montserrat', sans-serif;*/

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display:block;
}
body {
	font-family: 'Montserrat', sans-serif;
}
header {
	display: flex;
	flex-direction: row;
	padding: 5%;
	align-items: center;
	justify-content: space-between;
}
nav {
	width: 60%;
}
nav ul {
	display: flex;
	flex-direction: row;
	list-style-type: none;
	justify-content:space-around;
}
nav ul li a{
	padding-left: 5%;
	padding-right: 5%;
}
.logo {
	width: 15%;
}
h1, h2 {
	font-family: 'Chewy', cursive;
}
.about {
	background-color: #aee7ef;
}
.about article {
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 1%;
	padding-bottom: 1%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.about article p {
	padding-bottom: 5%;
}
.about article img {
	width: 70%;
	align-self: center;
	padding: 2%;
}
summary {
	font-family: 'Chewy', cursive;
	font-size: 1.5rem;
}
.travel {
	background-color: pink;
	padding-top: 2%;
	padding-bottom: 2%;
}
.travel img {
	width: 96%;
	padding: 2%;
}
.recipes {
	background-color: lavender;
}
.recipes article {
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 3%;
	padding-bottom: 3%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.recipes article h3 {
	font-size: 2rem;
}
.recipes article p {
	padding-bottom: 1%;
}
.recipe {
	width: 70%;
	display: flex;
	align-self: center;
}
.chef {
	width: 70%;
	display: flex;
	align-self: center;
	padding: 2%;
}
.games {
	background-color: orange;
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
	padding: 7%;
}
.games h2 {
	color: white;
}
.games img {
	width: 90%;
	padding: 2%;
}
/*---------------photo captions-----------------*/
figure {
  display: block;
  position: relative;
  overflow: hidden;
}
figcaption {
  position: absolute;
  background: orange;
  color: white;
	font-family: 'Montserrat', sans-serif;
  padding: 10px 20px;

  opacity: 0;
  bottom: 0;
  left: -30%;
  -webkit-transition: all 0.6s ease;
  -moz-transition:    all 0.6s ease;
  -o-transition:      all 0.6s ease;
}

figure:hover figcaption {
  opacity: 1;
  left: 0;
}
.cap-bot figcaption { left: 0; bottom: -30%;}
.cap-bot:hover figcaption { bottom: 0; }

:focus {
outline: 0;
}

@media (min-width: 500px){
	.travel {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
	}
	.travel figure {
		max-width: 48%;
	}
	.about article img {
		width: 60%;
	}
	.chef {
		width: 60%;
	}
	.recipe {
		width: 60%;
	}
	.games img {
		width: 60%;
	}
}
@media (min-width: 655px){
	.travel {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
	}
	.travel figure {
		max-width: 30%;
	}
	.about article img {
		width: 50%;
	}
	.chef {
		width: 50%;
	}
	.recipe {
		width: 40%;
	}
	.games img {
		width: 50%;
	}
}
@media (min-width: 775px){
	.travel {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
	}
	.travel figure {
		max-width: 22%;
	}
	.about article{
		flex-direction: row;
		justify-content: center;
	}
	.about article{
		padding-left: 2%;
		padding-right: 2%;
	}
	.about article img {
		width: 45%;
	}
	.chef {
		width: 45%;
	}
	.recipes article{
		flex-direction: row;
		justify-content: center;
	}
	.games{
		flex-direction: row;
		justify-content: center;
	}
	.games img {
		width: 45%;
	}

}
